<h1 mat-dialog-title>Processing {{ clips.length }} clip(s) &hellip;</h1>
<mat-dialog-content>
    <p>{{ status }}</p>
    <mat-progress-bar [mode]="mode" [value]="percentage"></mat-progress-bar>
    <div>&nbsp;</div>
    <mat-progress-bar *ngIf="totalJobs > 1" [value]="((currentJob - 1) / totalJobs) * 100"></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-actions *ngIf="false">
    <button mat-button mat-dialog-close>
        Cancel
    </button>
    <button mat-flat-button color="primary">
        OK
    </button>
</mat-dialog-actions>