<h1 mat-dialog-title>
    What went wrong?
</h1>
<mat-dialog-content>
    <p>{{ helpfulError }}</p>

    <h3>Original Error</h3>
    <p>{{ originalError }}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-flat-button>
        OK
    </button>
</mat-dialog-actions>