<div class="abstract-settings-form">
    <h2>Settings</h2>
    <div *ngFor="let key of keys">
        <mat-form-field>
            <mat-label>{{ getKeyString(key) }}</mat-label>
            <input matInput [(ngModel)]="settings.settings[key]">
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="settings.saveSettings()">
            <mat-icon>save</mat-icon>
            Save Changes
        </button>
    </div>
</div>
