<mat-nav-list>
    <ng-container *ngFor="let link of links">
        <a mat-list-item *ngIf="link.link"
           [routerLink]="link.link"
           routerLinkActive="active">
           <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
           {{ link.title || link.link }}
        </a>

        <button mat-list-item *ngIf="link.action" (click)="link.action()">
            <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
            {{ link.title || link.link }}
        </button>

        <mat-divider *ngIf="link.divider"></mat-divider>
    </ng-container>

    <span class="spacer"></span>

    <ng-container *ngIf="isDev">
        <button mat-list-item class="debug-control" (click)="electron.toggleDeveloperConsole()">
            <mat-icon>code</mat-icon>
            <span>Toggle Developer Console</span>
        </button>

        <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngFor="let link of bottomLinks">
        <a mat-list-item *ngIf="link.link"
           [routerLink]="link.link"
           routerLinkActive="active">
           <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
           {{ link.title || link.link }}
        </a>

        <button mat-list-item *ngIf="link.action" (click)="link.action()">
            <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
            {{ link.title || link.link }}
        </button>

        <mat-divider *ngIf="link.divider"></mat-divider>
    </ng-container>
</mat-nav-list>