@import '~_twitch.scss';

mat-nav-list {
    padding-top: 0;

    display: flex;
    flex-flow: column;

    height: 100%;
}
mat-nav-list > * {
    background-color: $twitch-purple;
    color: $twitch-ice; /* Twitch Ice */

    flex: 0 1 auto;
}
mat-nav-list a,
mat-nav-list button {
    mat-icon {
        padding-right: 10px;
    }
}
mat-nav-list button {
    border: 0;
}
mat-nav-list a.active {
    background-color: $twitch-purple-highlight;
}

mat-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-nav-list > .spacer {
    display: block;
    flex: 1;
}

.navlist-warn {
    background-color: orange !important;
}