.table-screen {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;

    > * {
        width: 100%;
        flex: 0 1 auto;
    }

    table {
        flex: 1;
    }

    .table-top-row {
        display: flex;
        flex-flow: row;
        width: 100%;

        > * {
            flex: 0 1 auto;
        }

        mat-form-field {
            flex: 1;
        }
    }
    
    .mat-paginator-sticky {
        bottom: 0px;
        position: sticky;
        z-index: 10;
    }
}