<h1 mat-dialog-title>
    Patch Notes
</h1>
<mat-dialog-content>
    <markdown [data]="changeLogContent"></markdown>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>
        Close
    </button>
</mat-dialog-actions>