:host {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;

    width: 100%;
    height: 100%;

    & > * {
        flex: 0 1 auto;
        width: 100%;
        max-width: 600px;
    }

    & > *:first-child {
        margin-top: 30px;
    }
    & > *:last-child {
        margin-bottom: 30px;
    }

    & > mat-toolbar {
        margin-bottom: 10px;
        max-width: none;
    }

    .app-title {
        display: flex;
        flex-flow: row;
    }
}