<h1>About Sir Grabbington</h1>

<div class="app-title">
    <div class="icon" *ngIf="false">
        <!-- Disabled until we have an icon -->
        <mat-icon>close</mat-icon>
    </div>
    <div class="description">
        <h2>
            Version <span>{{ appInfo.version }}</span><br>
            by Raphael "rGunti" Guntersweiler
        </h2>
        <p style="font-style: italic;">
            Originally developed for <a routerLink="/about" (click)="openUrl('https://twitch.tv/pinsrltrex')">pinsrlTrex</a> on Twitch.
        </p>
    </div>
</div>

<h2>Help and Feedback</h2>
<p>
    Problems, questions or feedback? Please let me know, I'd love to hear!
    These are the ways, you can contact me, in order of preference:
</p>
<ul>
    <li>
        <a routerLink="/about" (click)="openUrl('https://gitlab.com/rGunti/twitch-clip-grabber/-/issues')">GitLab Issues</a>
    </li>
    <li>
        <a routerLink="/about" (click)="openUrl('https://twitter.com/rgunti')">@rGunti on Twitter</a>
    </li>
    <li>
        <a routerLink="/about" (click)="openUrl('mailto:raphael@rgunti.ch')">Email: raphael@rgunti.ch</a>
    </li>
</ul>
<p>
    Please do not contact me over Twitch as issues might go under there.
</p>

<h2>Legal Stuff: The MIT License</h2>
<p>
    This application is open source and licensed under the <b>MIT License</b>.
</p>
<p>
Copyright (c) 2020 Raphael "rGunti" Guntersweiler
<br>
<br>
Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:
<br>
<br>
The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
<br>
<br>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
</p>

<h2>Open Source-ry</h2>
<p>
    This application is <b>free</b> (as in <i>beer</i> and <i>freedom</i>) and <b>open source</b>!
    If you would like to check out the source code of this app, you can do so
    at <a routerLink="/about" (click)="openUrl('https://gitlab.com/rGunti/twitch-clip-grabber')">https://gitlab.com/rGunti/twitch-clip-grabber</a>.
</p>

<h2>Thanking People: Third Party Acknowledgements</h2>
<p>
    Writing software is hard work, but thanks to a bunch of other hard working people
    you get to enjoy this program for free without me having to write everything from scratch.
    These projects were used here:
</p>
<ul>
    <li *ngFor="let lib of libraries">
        <b>{{ lib.library }}</b> by <i>{{ lib.author }}</i>,
        licensed under the {{ lib.license }} License
        (<a routerLink="/about" (click)="openUrl(lib.url)">{{ lib.url }}</a>)
    </li>
</ul>
