<div class="table-screen">
    <table mat-table
           matSort
           matSortActive="created_at"
           matSortDirection="desc"
           [dataSource]="dataSource">

        <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected"
                              [indeterminate]="selection.hasValue() && !isAllSelected">
                </mat-checkbox>
            </th>
            <td *matCellDef="let clip" mat-cell>
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? onSelectClip(clip) : null"
                              [checked]="selection.isSelected(clip)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="id">
                ID
            </th>
            <td *matCellDef="let clip" mat-cell>
                <code>{{ clip.id }}</code>
            </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="title">
                Title
            </th>
            <td *matCellDef="let clip" mat-cell>
                {{ clip.title }}
            </td>
        </ng-container>

        <ng-container matColumnDef="creator_name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="creator_name">
                Clipped by
            </th>
            <td *matCellDef="let clip" mat-cell>
                {{ clip.creator_name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="created_at">
                Clipped at
            </th>
            <td *matCellDef="let clip" mat-cell>
                {{ clip.created_at | amLocal | amCalendar }}
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell>
                Actions
            </th>
            <td *matCellDef="let clip" mat-cell>
                <button mat-icon-button
                        matTooltip="Process clip"
                        (click)="processClip(clip)"
                >
                    <mat-icon>movie</mat-icon>
                </button>
                <button mat-icon-button
                        matTooltip="Show clip info"
                        (click)="showClipInfo(clip)">
                    <mat-icon>info</mat-icon>
                </button>
                <button mat-icon-button
                        matTooltip="Delete clip"
                        (click)="deleteClip(clip)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10,20,30,40,50]"
                   [pageSize]="10"
                   class="mat-paginator-sticky"
                   showFirstLastButtons>
    </mat-paginator>
</div>
<div class="fabs">
    <button mat-fab
            matTooltip="Process selected clips"
            [disabled]="selection.selected.length === 0"
            (click)="processClips(selection.selected)"
    >
        <mat-icon [matBadge]="selection.selected.length || null"
                  matBadgePosition="below"
        >play_arrow</mat-icon>
    </button>
</div>