@import '../../shared/table';

.fabs {
    position: fixed;
    bottom: 15px;
    right: 15px;
    
    display: flex;
    flex-direction: row;
    justify-items: end;

    &>* {
        flex: 0 1 auto;
    }
}
