@import '../twitch';

.app-root {
    display: flex;
    flex-flow: column;
    align-items: stretch;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & > * {
        flex: 0 1 auto;
    }
    & > mat-sidenav-container {
        flex: 1;
    }
}

.app-container {
    background: #eee;

    .sidenav {
        min-width: 250px;
        max-width: 350px;

        background-color: #9146FF; /* Twitch Purple */
        color: white;
    }
}

mat-toolbar {
    -webkit-app-region: drag;
    -webkit-user-select: none;

    background-color: $twitch-purple;
    color: $twitch-ice;

    display: flex;
    flex-flow: row;
    justify-content: center;

    & > * {
        flex: 0 1 auto;
    }
    .spacer {
        flex: 1;
    }
    button {
        -webkit-app-region: no-drag;
    }

    .subtitle {
        padding-left: 10px;
        font-weight: normal;
        font-size: smaller;
    }

    .development-chips {
        margin-right: 10px;
    }
}
