<div class="app-root">
    <mat-toolbar [class.debug-control-reduced]="!appInfo.isProdBuild">
        <span class="spacer"></span>

        <mat-chip-list *ngIf="!appInfo.isProdBuild" class="development-chips">
            <mat-chip class="debug-control-warn" selected>{{ appInfo.currentEnvironment }} Build</mat-chip>
        </mat-chip-list>

        <span>Sir Grabbington</span>
        <small style="padding-left: 10px;">v{{ appInfo.version }}</small>

        <span class="subtitle">Grabbing Twitch clips since 2020</span>
        <span class="spacer"></span>
        <ng-container *ngIf="showWindowControls">
            <button mat-icon-button matTooltip="Minimize" (click)="minimize()">
                <mat-icon>minimize</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Maximize" (click)="maximize()">
                <mat-icon>maximize</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Close" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </ng-container>
    </mat-toolbar>
    <mat-sidenav-container class="app-container">
        <mat-sidenav class="sidenav" mode="side" opened>
            <app-navbar></app-navbar>
        </mat-sidenav>
        <mat-sidenav-content #sidenavContent class="page-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>