<div class="table-screen">
    <div class="table-top-row">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput [(ngModel)]="filterValue"
                   placeholder="Enter a term to search for"
                   (keyup)="applyFilter(filterValue, true)">
            <button *ngIf="filterValue"
                    mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="applyFilter('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div>
            <button mat-icon-button
                    [matTooltip]="'Download selected clips'"
                    [matBadge]="selection.selected.length || null"
                    matBadgePosition="below before"
                    (click)="downloadSelectedClips()">
                <mat-icon>get_app</mat-icon>
            </button>
        </div>
    </div>
    <table mat-table matSort
           [dataSource]="dataSource"
           matSort
           matSortActive="creationDate"
           matSortDirection="desc">
        <ng-container matColumnDef="select">
            <th *matHeaderCellDef
                mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected"
                              [indeterminate]="selection.hasValue() && !isAllSelected">
                </mat-checkbox>
            </th>
            <td *matCellDef="let clip"
                mat-cell>
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? onSelectClip(clip) : null"
                              [checked]="selection.isSelected(clip)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th *matHeaderCellDef
                mat-header-cell
                mat-sort-header="id">
                ID
            </th>
            <td *matCellDef="let clip"
                mat-cell>
                <code>{{ clip.id }}</code>
            </td>
        </ng-container>
        <ng-container matColumnDef="title">
            <th *matHeaderCellDef
                mat-header-cell
                mat-sort-header="title">
                Name
            </th>
            <td *matCellDef="let clip"
                mat-cell>
                {{ clip.title }}
            </td>
        </ng-container>
        <ng-container matColumnDef="creatorDisplayName">
            <th *matHeaderCellDef
                mat-header-cell
                mat-sort-header="creatorDisplayName">
                Created by
            </th>
            <td *matCellDef="let clip"
                mat-cell
                class="search-cell">
                <button mat-icon-button
                        (click)="applyFilter(clip.creatorDisplayName)">
                    <mat-icon>search</mat-icon>
                </button>
                {{ clip.creatorDisplayName }}
            </td>
        </ng-container>
        <ng-container matColumnDef="creationDate">
            <th *matHeaderCellDef
                mat-header-cell
                mat-sort-header="creationDate">
                Clipped at
            </th>
            <td *matCellDef="let clip"
                mat-cell>
                {{ clip.creationDate | amLocal | amCalendar }}
            </td>
        </ng-container>
        <ng-container matColumnDef="downloadStatus">
            <th *matHeaderCellDef
                mat-header-cell>
                Download Status
            </th>
            <td *matCellDef="let clip"
                mat-cell>
                <ng-container *ngIf="downloadStats[clip.id] && !downloadStats[clip.id].error && !downloadStats[clip.id].completed">
                    <mat-progress-bar *ngIf="downloadStats[clip.id].percentage"
                                      [matTooltip]="'Downloading clip ...'"
                                      [value]="downloadStats[clip.id].percentage">
                    </mat-progress-bar>
                    <mat-progress-bar *ngIf="!downloadStats[clip.id].percentage"
                                      matTooltip="Waiting for download ..."
                                      mode="indeterminate">
                    </mat-progress-bar>
                </ng-container>
                <button *ngIf="!downloadStats[clip.id] || downloadStats[clip.id].error"
                        matTooltip="Download this clip"
                        mat-icon-button
                        (click)="downloadClip(clip)">
                    <mat-icon>get_app</mat-icon>
                </button>
                <ng-container *ngIf="downloadStats[clip.id] && downloadStats[clip.id].error">
                    <button mat-icon-button matTooltip="About this error" (click)="onOpenErrorInfoDialog(clip.id)">
                        <mat-icon>info</mat-icon>
                    </button>
                    Download failed
                </ng-container>
                <ng-container *ngIf="!downloadStats[clip.id]">
                    <button *ngIf="hasClip(clip)"
                            mat-icon-button
                            matTooltip="Clip downloaded">
                        <mat-icon style="color: green">check</mat-icon>
                    </button>
                </ng-container>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,20,30,40,50]"
                   [pageSize]="10"
                   class="mat-paginator-sticky"
                   showFirstLastButtons>
    </mat-paginator>
</div>
