@import 'twitch';

$debug-color: orange;

.debug-control {
    background: repeating-linear-gradient(
        45deg,
        $debug-color 0,
        $debug-color 20px,
        $twitch-purple 20px,
        $twitch-purple 40px
    ) !important;
}
.debug-control-reduced {
    background: repeating-linear-gradient(
        45deg,
        $twitch-purple-highlight 0,
        $twitch-purple-highlight 20px,
        $twitch-purple 20px,
        $twitch-purple 40px
    ) !important;
}
.debug-control-warn {
    background: repeating-linear-gradient(
        45deg,
        $debug-color 0,
        $debug-color 20px,
        $twitch-black 20px,
        $twitch-black 40px
    ) !important;
}
.debug-control-large {
    background: repeating-linear-gradient(
        45deg,
        $debug-color 0,
        $debug-color 40px,
        $twitch-purple 40px,
        $twitch-purple 80px
    ) !important;
}
