
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$twitch-clip-grabber-primary: mat-palette($mat-indigo);
$twitch-clip-grabber-accent: mat-palette($mat-pink, A200, A100, A400);

/* #9146FF #B5FF46 */

// The warn palette is optional (defaults to red).
$twitch-clip-grabber-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$twitch-clip-grabber-theme: mat-light-theme($twitch-clip-grabber-primary, $twitch-clip-grabber-accent, $twitch-clip-grabber-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($twitch-clip-grabber-theme);

@import 'theme';

html, body {
    padding: 0;
    margin: 0;
}
app-root {
    width: 100%;
    height: 100%;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;

    &>* {
        flex: 0 1 auto;
    }
}

mat-toolbar {
    display: flex;
    flex-flow: row;
    justify-content: center;

    & > * {
        flex: 0 1 auto;
    }
    .spacer {
        flex: 1;
    }

    .subtitle {
        padding-left: 10px;
        font-weight: normal;
        font-size: smaller;
    }
}
