<h1 mat-dialog-title>About "{{ clip.title }}"</h1>
<mat-dialog-content>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <div *ngIf="videoInfo">
        <mat-form-field>
            <mat-label>Duration</mat-label>
            <input matInput readonly [value]="clipDuration">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Size</mat-label>
            <input matInput readonly [value]="clipSize">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Bitrate</mat-label>
            <input matInput readonly [value]="clipBitrate">
        </mat-form-field>
    </div>
    <div *ngIf="videoInfo">
        <mat-form-field>
            <mat-label>Video Resolution</mat-label>
            <input matInput readonly [value]="clipResolution">
        </mat-form-field>
    </div>
    <div *ngIf="videoInfo">
        <mat-form-field class="full-width">
            <mat-label>Path</mat-label>
            <input matInput readonly [value]="videoInfo.format.filename">
        </mat-form-field>
    </div>

    <mat-expansion-panel *ngIf="videoInfo">
        <mat-expansion-panel-header>
            <mat-panel-title color="primary">
                More information
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <pre style="max-height: 200px; overflow-x: auto;">{{ videoInfo | json }}</pre>
    </mat-expansion-panel>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button mat-dialog-close color="primary">
        OK
    </button>
</mat-dialog-actions>